h3 {
    color: chartreuse
}

.container {
    color: brown
}

#container-id {
    color: darkblue;
    margin-top: 100px;
    border-style: solid;
    border-color: chartreuse;
    border-radius: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.container-bg {
    background-color: yellow;
}

.my-font {
    font-family: "Noto Sans Thai", sans-serif;
}